@model ClassLibrary.FMS.DataModels.LoginModel
@{
    ViewData["Title"] = "Login BackOffice";
    Layout = "~/Views/Shared/outSystemLayout.cshtml";
}

<!doctype html>
<html lang="en">

<body class="BodyEmployeeLogin">
    <div class="container pb-80">
        <div class="card br-25 mt-30">
            <div class="row">

                <div class="col-lg-6">
                    <div class="cardLeft ">

                        <img class="EmployeeLoginColordLogo" src="~/icon/maintra logo colored.png" />

                        <form asp-action="EmployeeLogin" class="myform pt-60 text-center">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <header>Sign In </header>
                            <div class="form-group">
                                @if ((string)TempData["Ref"] == "TrueReq")
                                {
                                    <div class="alert alert-success">
                                        <strong>The password has been updated successfully.</strong>
                                    </div>
                                }
                            </div>
                            <div class="form-group">
                                <i class="far fa-user"></i>
                                <input asp-for="Username" placeholder="Username" class="input" />
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <i class="fas fa-lock"></i>
                                <input asp-for="Password" placeholder="Password" class="input" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-groupInput">
                                @Html.HiddenFor(model => model.Role)
                            </div>
                            <label style="color:red;">@ViewBag.message</label>
                            <input type="submit" class="btnSignInCard" value="SIGN IN" />
                        </form>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="CardRight">
                        <div class="text-center">
                            <header>Hello,Employee!</header>
                            <p>
                                Enter your personal Details and Start
                                journey with us
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>