@model ClassLibrary.FMS.DataModels.Models.UpdatePasswordModel
@{
    ViewData["Title"] = "Login - Update Password";
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/js/fontawesome/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/StyleSheet1.css" rel="stylesheet" />

    <title>Create Account</title>
</head>
<body>
    <div></div>

    <form class="myform" asp-action="UpdatePasswordPage">
        <img class="logo2" src="~/icon/maintra logo white png.png" alt="logo icon" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="text-center">
            <h1>Welcome Dear Employee! </h1>
            <p>Please Update password so you can enter your acount</p>

            <div class="form-group ">
                <i class="far fas fa-lock"></i>
                <input asp-for="Password" class="btnpass" type="password" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>


            <div class="form-group">
                <i class="far fas fa-lock"></i>
                <input asp-for="RePassword" class="btnpass" type="password" placeholder="Conferm Password" />
                <span asp-validation-for="RePassword" class="text-danger"></span>
            </div>
            <div>
                @ViewBag.ValidationMessage
            </div>

            <button class="ghost" id="signUp">Continue</button>
        </div>
    </form>

</body>
</html>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js"></script>