@model ClassLibrary.FMS.DataModels.Models.UpdatePasswordModel
@{
    ViewData["Title"] = "Login - Update Password";
    Layout = "~/Views/Shared/outSystemLayout.cshtml";
}


<!doctype html>
<html lang="en">

<body class="BodyEmployeeLogin">
    <div class="container pb-80">
        <div class="card br-25 mt-30">
            <div class="row">
                <div class="col-lg-6">
                    <div class="cardLeft ">

                        <img class="EmployeeLoginColordLogo" src="~/icon/maintra logo colored.png" />

                        <form asp-action="UpdatePasswordPage" class="myform pt-60 text-center">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <header style=" padding-bottom: 27px;">Update Password </header>

                            <div class="form-group ">
                                <i class="far fas fa-lock"></i>
                                <input asp-for="Password" class="input" type="password" placeholder="Password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <i class="far fas fa-lock"></i>
                                <input asp-for="RePassword" class="input" type="password" placeholder="Conferm Password" />
                                <span asp-validation-for="RePassword" class="text-danger"></span>
                            </div>
                            <div>
                                @ViewBag.ValidationMessage
                            </div>
                            <button class="btnSignInCard" id="signUp">Continue</button>
                        </form>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="CardRight">
                        <div class="text-center">
                            <header style="font-size: 30px;">Welcome,Employee!</header>
                            <p>
                                Please Update Password So You Can Enter Your Acount
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>