@model ClassLibrary.FMS.DataModels.Models.UpdatePasswordModel
@{
    ViewData["Title"] = "Login - Update Password";
    Layout = "~/Views/Shared/outSystemLayout.cshtml";
}

<!doctype html>
<html lang="en">

<body>

    <div class="containerUpdatePassword">
        <div class="cardUpdatePassword">
            <div class="row">
                <div class="col-md-12">
                    <form class="myformUpdatePassword" asp-action="UpdatePasswordPage">
                        <img class="logoWhiteUpdatePassword" src="~/icon/maintra logo white png.png" alt="logo icon" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="text-center">
                            <h1>Welcome Dear Employee! </h1>
                            <p>Please Update password so you can enter your acount</p>

                            <div class="form-group ">
                                <i class="far fas fa-lock"></i>
                                <input asp-for="Password" class="InputUpdatePassword" type="password" placeholder="Password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <i class="far fas fa-lock"></i>
                                <input asp-for="RePassword" class="InputUpdatePassword" type="password" placeholder="Conferm Password" />
                                <span asp-validation-for="RePassword" class="text-danger"></span>
                            </div>
                            <div>
                                @ViewBag.ValidationMessage
                            </div>

                            <button class="ghost" id="signUp">Continue</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>

</body>
</html>
