@model ClassLibrary.FMS.DataModels.LoginModel
@{
    ViewData["Title"] = "LoginPortal";
    Layout = "~/Views/Shared/outSystemLayout.cshtml";
}
<!doctype html>
<html lang="en">

<body>
    <div class="form-group" style="margin-top:1%">
        @if ((string)TempData["Ref"] == "TrueReq")
        {
            <div class="alert alert-success">
                <strong>Your Registration has been successfully, Please wait to for your account to be activated.</strong>
            </div>
        }
    </div>
    <div class="container pb-80">
        <div class="card">
            <div class="row">

                <div class="col-lg-6">
                    <div class="cardLeftSingIn ">

                        <img class="logo2" src="~/icon/maintra logo colored.png" />

                        <form asp-action="LoginPortal" class="myform text-center">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <header>Sign In </header>
                            <div class="form-group">
                                <i class="far fa-user"></i>
                                <input asp-for="Username" placeholder="Username" class="input" />
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <i class="fas fa-lock"></i>
                                <input asp-for="Password" placeholder="Password" class="input" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-groupInput">
                                <label style="color:red;">@ViewBag.message</label>
                            </div>
                            <input type="submit" class="btnSignInCard" value="SIGN IN" />
                        </form>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="CardRight">
                        <div class="text-center">
                            <header>Hello,Client!</header>
                            <p>
                                Enter your personal Details and Start
                                journey with us
                            </p>
                            <a href="/Login/BeneficiaryRegistraion" class="btnSignupCard">SIGN UP</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



