@model ClassLibrary.FMS.DataModels.BeneficiaryRegistraionModel
@{
    ViewData["Title"] = "BeneficiaryRegistraion";
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/js/fontawesome/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />

    <title>Create Account</title>
</head>
<body>

   
         
                    <div class="message-model">
                        <div class="message-content text-center">
                            <img class="checkicon" src="~/icon/check_icon.png" alt="check icon" />

                            <div class="message">
                                <h1 class="TextColor3">Thank you</h1>
                                <p class="PupMesage">
                                    You have been succfully registered,
                                    please wati for your account to be
                                    activated by the administrator
                                </p>


                            </div>

                            <button class="gotit-btn" asp-action="/Login/LoginPortal">GOT IT</button>
                        </div>
                    </div>

                
      
</body>

</html>















