@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />

    <title>Create Account</title>
</head>
<body>
   <form class="myform text-center">
                            <header>Welcome Dear Employee! </header>
                            <p>Please Update password so you can enter your acount</p>

                            <div class="form-group">
                                <input type="text" placeholder="New Password" class="input" required />
                                <div class="invalid-feedback">Please fill out this field </div>
                            </div>


                            <div class="form-group">
                                <input type="text" placeholder="Conferm Password" class="input" required />
                                <div class="invalid-feedback">Please fill out this field </div>
                            </div>
                            <input type="submit" class="btnSignInCard" value="SIGN IN" />
                        </form>
                    </div>
                </div>
</body>
</html>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

