@model ClassLibrary.FMS.DataModels.Models.NotActiveUsersOfBuildingModel;
@{
    ViewData["Title"] = "Login BackOffice";
}


<!-- Toggle button -->
<button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Registration Requests</small></button>

<!-- Demo content -->
<!-- Box info -->
<div class="content">
    <div class="row ">
        <!-- Bulding Number 1 info -->
        <div class="col-lg-6 ">
            <div class="card card-stats" style="border-radius: 25px; margin-bottom: 20px;">
                <div class="card-body ">
                    <h5 class="newtext">Bulding Number</h5>
                    <div class="row">
                        <div class="col-3 col-md-2 ">
                            <div class="icon-big text-center icon-warning" style="font-size: 44px; color:#652572;">
                                <i class="fas fa-user-circle"></i>
                            </div>
                        </div>
                        <div class="col-6 col-md-7">
                            <h4 class="opentext card-category">Alanoud</h4>
                            <p class="card-title">alanoud@gmail.com<p>
                        </div>

                        <div class="col-3 col-md-3">
                            <div class="icon-big text-center icon-warning" style="    font-size: 30px; ; margin-top: 15px;">
                                <i class="fas fa-check-circle" style="margin-right: 5px; color:#94C11F;"></i>
                                <i class="fas fa-times-circle" style="margin-right: 5px; color:#C43264;"></i>
                            </div>
                        </div>

                        <div class="col-3 col-md-2 ">
                            <div class="icon-big text-center icon-warning" style="font-size: 44px; color:#652572;">
                                <i class="fas fa-user-circle"></i>
                            </div>
                        </div>
                        <div class="col-6 col-md-7">
                            <h4 class="opentext card-category">Alanoud</h4>
                            <p class="card-title">alanoud@gmail.com<p>
                        </div>

                        <div class="col-3 col-md-3">
                            <div class="icon-big text-center icon-warning" style="    font-size: 30px; ; margin-top: 15px;">
                                <i class="fas fa-check-circle" style="margin-right: 5px; color:#94C11F;"></i>
                                <i class="fas fa-times-circle" style="margin-right: 5px; color:#C43264;"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--End  Bulding Number 1 info -->
    </div>
</div>

<!-- End Box info -->
<!-- End Demo content -->