
@{
    ViewData["Title"] = "Login BackOffice";
}

<!-- Toggle button -->
<button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">DASHBOARD</small></button>

<!-- Demo content -->

<img class="imgWorker" src="~/icon/worker illestration.png">
<div class="jumbotron  jumbotron-fluid " style="border-radius: 25px; background:white;">
    <div class="container">

        <h1 class="helloWorker">Hello worker !</h1>
        <p>We wish you a happy working day ! </p>
    </div>
</div>

<div class="jumbotron  jumbotron-fluid " style="border-radius: 25px; background:white;">
    <div class="container">
        <h5 class="opentext">Opened request</h5>
    </div>
</div>

<div class="jumbotron jumbotron-fluid " style="border-radius: 25px; background:white;">
    <div class="container">
        <h5 class="newtext">New request</h5>
    </div>
</div>

</div>
<!-- End demo content -->
