
button.ghost {
    border: 2px solid;
    border-color: #FFFFFF;
    background: transparent;
}

.myform {
    background: linear-gradient(#652572,#922B6B,#C43264);
    border-radius: 10px;
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
    position: relative;
    overflow: hidden;
    width: 900px;
    max-width: 100%;
    min-height: 480px;
    height: 600px;
}

    .myform h1 {
        padding-top: 110px;
        font-weight: bold;
        color: white;
        font-family: Dubai-Bold;
    }

    .myform p {
        font-size: 20px;
        font-weight: 100;
        line-height: 20px;
        letter-spacing: 0.5px;
        margin: 20px 0 30px;
        color: white;
    }

.btnpass {
    background-color: #F5F8F9;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 350px;
    border-radius: 5px;
    border-color: #C7C6C6;
    color: #B1B0AF;
}


.logo2 {
    width: 60px;
    height: 100px;
    padding-top: 25px;
    float: left;
    padding-left: 5px;
}

button.ghost {
    border-radius: 20px;
    border: 1px solid;
    background: linear-gradient(#652572,#922B6B,#C43264);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin: 10px;
}

body {
    background: #f4f6f9;
    min-height: 100vh;
    overflow-x: hidden;
}

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}

.page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
}

#sidebar.active {
    margin-left: -17rem;
}

#content.active {
    width: 100%;
    margin: 0;
}

.separator {
    margin: 3rem 0;
    border-bottom: 1px dashed #fff;
}

.text-uppercase {
    letter-spacing: 0.1em;
}

.text-gray {
    color: #aaa;
}

.nav-link {
    text-transform: capitalize;
}

    .nav-link:hover {
        background: #f3f2f2;
    }

.text-primary {
    color: #7579e7 !important;
}

.text-white {
    color: black !important;
}

.colorB {
    color: #b1b0af;
}

.input {
    width: 100%;
    padding: 10px;
    padding-left: 5%;
    border: none;
    background-color: #F5F8F9;
    margin: 10px;
    outline: none;
}

.mlr {
    margin-left: 25%;
    margin-right: 31%
}

.btnSignInCard {
    background: #C43264;
    color: #fff;
    width: 140px;
    border: none;
    border-radius: 25px;
    padding: 10px;
    margin: 20px;
}

.btnSignInCardgreen {
    background: #94C11F;
    color: #fff;
    width: 140px;
    border: none;
    border-radius: 25px;
    padding: 10px;
}

.W-300 {
    width: 300px;
    border-radius: 22px;
}

.imgcheck {
    width: 84px;
    padding-top: 30px;
}

.mbtc {
    margin-bottom: 14px;
    margin-top: 30px;
    color: #922B6B;
    font-weight: bold;
}

.gotit-btn {
    border-radius: 20px;
    border: 1px solid;
    background: linear-gradient(#652572,#922B6B,#C43264);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin: 30px;
}

    .gotit-btn:active {
        transform: scale(0.95);
    }

    .gotit-btn:focus {
        outline: none;
    }

.pt-60 {
    padding-top: 60px;
}

.p-pup {
    color: #b1b0af;
}

.reqestNotext {
    color: #C43264;
}

.nav-link {
    color: #B1B0AF;
}

    .nav-link:hover {
        color: #C43264;
        background: #fff;
    }

@media (max-width: 768px) {
    #sidebar {
        margin-left: -17rem;
    }

        #sidebar.active {
            margin-left: 0;
        }

    #content {
        width: 100%;
        margin: 0;
    }

        #content.active {
            margin-left: 17rem;
            width: calc(100% - 17rem);
        }
}