@{
    ViewData["Title"] = "Login BackOffice";
    List<SelectListItem> workersList = new List<SelectListItem>();
    foreach (var item in Model.WorkersList)
    {
        workersList.Add(new SelectListItem { Text = item.FirstName + " " + item.LastName, Value = item.EmployeeID.ToString() });
    }
}



    <!-- Toggle button -->
    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Maintenance requests</small></button>

    <!-- Demo content -->
    <div class="jumbotron jumbotron-fluid " style="border-radius: 25px; background:white;">
        <div class="container">
            <h5 class="reqestNotext" style="margin-bottom: 20px;">request NO.</h5>

            <form class="needs-validation" novalidate style="margin-bottom: 30px;">
                <div class="form-row">
                    <div class="col-lg-6 mb-2">
                        <label for="validationTooltip01" class="colorB">Bulding</label>
                        <input type="text" disabled="disabled" class="form-control input3" id="validationTooltip01" value="Mark" required>
                    </div>

                    <div class="col-lg-6 mb-2">
                        <label for="validationTooltip02" class="colorB">Malfunction Type</label>
                        <select class="form-control input3" id="exampleFormControlSelect1">
                            <option>Select</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>

                </div>

                <div class="mb-3 col-lg-12" style="margin-top: 20px;">
                    <label for="exampleFormControlTextarea1" placeholder="Type Your Description .. " class="form-label colorB">Brife Description</label>
                    <textarea class="form-control input3" placeholder="Type Your Description .. " id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

            </form>

            <div class=" text-center">

                <button type="submit" class="btnSignInCard " data-toggle="modal" data-target="#loginModalReject" value="Accept">Submit</button>

            </div>

        </div>
    </div>


<!-- End Demo content -->
<!--  Start PopUp Reject -->
<div class="modal fade pt-60" role="dialog" id="loginModalReject">
    <div class="modal-dialog">
        <div class="modal-content W-300">
            <div class="modal-body  text-center">
                <img class="imgcheck" src="check_icon.png">
                <h3 class="modal-title mbtc">Thank you</h3>
                <p class="p-pup">
                    The request has been successfully Submitted
                </p>
                <button class="gotit-btn">GOT IT</button>
            </div>
        </div>
    </div>
</div>
<!--  End PopUp Reject -->
