<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DashBoard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/js/fontawesome/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/js/fontawesome/css/all.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <style>
        ul.nav li.active a {
            color: #C43264;
            background: #fff;
        }
    </style>
</head>
<body>

    <!-- Vertical navbar -->
    <div class="vertical-nav bg-white" id="sidebar">
        <div class="py-4 px-3 mb-4 ">
            <div class="media d-flex align-items-center">

                <img src="~/icon/maintra logo 2.png" alt="..." width="200" height="100" class="text-center">
                <div class="media-body">

                </div>
            </div>
        </div>
        <ul class="nav flex-column mb-0">
            <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString()=="BuildingManagerDashboard"?"active":"")">
                <a asp-controller="BackOffice" asp-action="BuildingManagerDashboard" class="nav-link ">
                    <i class="fa fa-th-large mr-3 fa-fw"></i>
                    DashBoard
                </a>
            </li>
            <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString()=="BuildingManagerMaintananceRequests"?"active":"")">
                <a asp-controller="BackOffice" asp-action="BuildingManagerMaintananceRequests" class="nav-link ">
                    <i class="fa fa-cubes mr-3 fa-fw"></i>
                    Maintenance requests
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="BackOffice" asp-action="Logout" class="nav-link ">
                    <i class="fa fa-sign-out-alt mr-3 fa-fw"></i>
                    Logout
                </a>
            </li>
        </ul>
    </div>
    <!-- End vertical navbar -->
    <div class="page-content p-5" id="content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/app.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
