* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
}
/* EmployeeLogin */
.BodyEmployeeLogin {
    background-color: #F5F5F5;
    margin-top: 53px;
}
.CardRight {
    position: relative;
    background-image: linear-gradient(#652572,#922B6B,#C43264);
    border-radius: 25px;
    height: 100%;
    width: 100%;
    padding: 25px;
    justify-content: center;
    align-items: center;
}
.cardLeft {
    position: relative;
    background: #fff;
    border-radius: 25px;
    height: 100%;
    padding: 25px;
    padding: 50px;
    padding-bottom: 90px;
}
    .cardLeft header {
        color: #652572;
        font-size: 34px;
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 10px;
    }
.CardRight header {
    color: #fff;
    font-size: 38px;
    font-weight: bold;
    margin-top: 173px;
}
.cardLeft .input {
    width: 100%;
    padding: 10px;
    padding-left: 40px;
    border: none;
    background-color: #F5F8F9;
    margin: 10px;
    outline: none;
}
.input:focus {
    box-shadow: 0 0 5px 2px #922B6B;
}

.cardLeft .btnSignInCard {
    background: linear-gradient(#652572,#922B6B,#C43264);
    color: #fff;
    width: 150px;
    border: none;
    border-radius: 25px;
    padding: 10px;
    margin: 20px;
}
    .cardLeft .btnSignInCard:hover {
        background: linear-gradient( #C43264,#922B6B,#652572);
    }
P {
    color: #fff;
    font-size: 20px;
    padding-top: 31px;
    padding-bottom: 48px;
}
.far {
    position: absolute;
    padding: 25px 25px;
    top: auto;
    color: #B1B0AF;
}
.fas {
    position: absolute;
    padding: 25px 25px;
    top: auto;
    color: #B1B0AF;
}
.logo2 {
    width: 60px;
    height: 75px;
}
.myform {
    padding-top: 60px;
}
.card {
    border-radius: 25px;
    margin-top:30px;
}
.firstname {
    margin-right: 10px;
}
/*END EmployeeLogin */

/*Start change password */

button.ghost {
    border: 2px solid;
    border-color: #FFFFFF;
    background: transparent;
}

.myform {
    background: linear-gradient(#652572,#922B6B,#C43264);
    border-radius: 10px;
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
    position: relative;
    overflow: hidden;
    max-width: 100%;
    min-height: 480px;
    height: 600px;
    max-height: 100%;
}

    .myform h1 {
        padding-top: 110px;
        font-weight: bold;
        color: white;
        font-family: Dubai-Bold;
    }

    .myform p {
        font-size: 20px;
        font-weight: 100;
        line-height: 20px;
        letter-spacing: 0.5px;
        margin: 20px 0 30px;
        color: white;
    }

.btnpass {
    background-color: #F5F8F9;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 350px;
    border-radius: 5px;
    border-color: #C7C6C6;
    color: #B1B0AF;
}


.logo2 {
    width: 70px;
    height: 80px;
    padding-top: 25px;
    float: left;
    padding-left: 20px;
}

button.ghost {
    border-radius: 20px;
    border: 1px solid;
    background: linear-gradient(#652572,#922B6B,#C43264);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin: 10px;
}

.container {
    margin-top: 1%;
    position: absolute;
    height: 600px;
    width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/*Start change password */